<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.admincenter.dal.dao.AdminUserDAO">

  <resultMap id="adminUserMap" type="com.mall.admincenter.dal.dataobject.AdminUserDO">
    <id column="id" property="id" />
    <result column="login_user_name" property="loginUserName" />
    <result column="login_password" property="loginPassword" />
    <result column="nick_name" property="nickName" />
    <result column="locked" property="locked" />
    <result column="feature" property="feature" />
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>


  <sql id="admin_user_column">
    login_user_name, login_password, nick_name, locked, feature
  </sql>

  <sql id="admin_user_column_all">
    id, <include refid="admin_user_column"/>, create_time, update_time
  </sql>

  <select id="getAdminUserByUserName" resultMap="adminUserMap">
      select
          <include refid="admin_user_column_all" />
      from
          mall_admin_user
      where
          login_user_name = #{userName}
          AND
          locked = 0
  </select>

    <select id="getById" parameterType="Integer" resultMap="adminUserMap">
        select
            <include refid="admin_user_column_all" />
        from
            mall_admin_user
        WHERE
            id = #{id}
            AND
            locked = 0
    </select>

    <update id="update" parameterType="com.mall.admincenter.dal.dataobject.AdminUserDO">
        UPDATE mall_admin_user
        <set>
            <if test="loginUserName != null">
                login_user_name = #{loginUserName},
            </if>
            <if test="loginPassword != null">
                login_password = #{loginPassword},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName},
            </if>
            <if test="locked != null">
                locked = #{locked},
            </if>
            <if test="feature != null">
                feature = #{feature},
            </if>
            update_time = now()
        </set>
        where
            id = #{id}
            AND
            locked = 0
    </update>

</mapper>